
<%- include('partials/header') %>
    <div class="container">
        <div class="home">
            <img src="images/home.jpg" alt="Deux chiots adorables dans un panier" class="home-pic shadow"/>
        </div>
        <div class="hero">
            CynO'Clock, l'espace pour les passionnés des canidés les mim's du game chez O'Clock !
        </div>
    </div>
<%- include('partials/footer') %>
